// Imports config
@use 'sass:math';
@use '../config/variables';

// Imports components

// functions
@function converter($px) {
    @return math.div($px, 16) * 1rem;
}

// ___________________________________________________________________________
footer {
    width: 100%;
    padding: converter(20);
    background-color: variables.$grayDark;
    padding: converter(16) 0 0;

    .container {
        row-gap: converter(16);

        .redes {
            width: 100%;
            display: flex;
            justify-content: space-around;
            column-gap: converter(16);

            a {
                padding: converter(16);

                img {
                    width: converter(32);
                    height: converter(32);
                }
            }

        }

        .copy {
            color: variables.$white;
            display: flex;
            flex-direction: column;
            font-size: converter(14);
            justify-content: center;
            align-items: center;
            row-gap: converter(8);

            p {
                text-align: center;
                font-size: converter(14);
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    footer {
        >.container {
            flex-direction: row-reverse;

            .redes {
                width: 40%;
                justify-content: center;
            }

            .copy {
                width: 60%;
            }
        }
    }
}