// Imports config
@use 'sass:math';
@use '../config/variables';

// functions
@function converter($px) {
    @return math.div($px, 16) * 1rem;
}

// ____________________________________________________________
#location {
    width: 100%;
    background-color: variables.$grayDark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: converter(60);

    .container {
        row-gap: converter(24);

        .maps,
        .tel,
        .email {
            text-align: center;
            row-gap: converter(8);
            display: flex;
            flex-direction: column;
        }

        span {
            color: variables.$white;
            font-size: converter(32);
        }

        address,
        .phone,
        .email {
            color: variables.$white;
            font-size: converter(16);
        }
    }
}