// Imports
@use 'sass:math';
@use './variables';

// functions
@function converter($px) {
    @return math.div($px, 16) * 1rem;
}

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    transition: all 0.4s;
    position: relative;
    overflow-x: hidden;
}

section {
    padding-top: converter(60);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
span,
p {
    &::selection {
        background-color: variables.$red;
        color: variables.$white;
    }
}

h2 {
    font-size: converter(24);
    font-weight: 700;
    margin-bottom: converter(8);
}

h3 {
    font-size: converter(20);
    font-weight: 600;
}

h4 {
    font-size: converter(14);
    color: variables.$red;
}

p {
    text-align: justify;
    font-size: converter(16);
    font-weight: 400;
}

.red {
    color: variables.$red;
}

.container {
    min-width: 320px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 converter(16) converter(20);

    display: flex;
    flex-direction: column;
}

.btn-red {
    background-color: variables.$red;
    color: variables.$white;
    font-size: converter(16);
    font-weight: 400;
    opacity: 0.9;

    &:hover {
        opacity: 1;
    }
}