// Imports config
@use './config/reset';
@use './config/variables';
@use 'sass:math';

// Imports components
@use './components/header';
@use './components/main';
@use './components/footer';


// functions
@function converter($px) {
    @return math.div($px, 16) * 1rem;
}

// mixins

// ___________________________________________________________________________//
#app {
    main {
        .div-contact {
            display: flex;
            align-items: center;
            margin: 0 auto;
            flex-direction: column;
        }
    }
}

@media screen and (min-width: 1024px) {
    #app {
        main {
            .div-contact {
                display: flex;
                align-items: center;
                margin: 0 auto;
            }
        }
    }
}